
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet'>
  
  <link rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css'>
  <style>
  .logo {
    float: right;
    size: inherit;
  
  }
  .main {
  padding: 16x;
  margin-top: 59px; 

  /*height: 0px; /* Used in this example to enable scrolling */
}
</style>
  </head>
  
  <head>
    <title><%= title %></title>
  </head>
  <body>
  
     
  
  
      <img src="../Ninja1.JPG" style="float: left;position: relative" alt="img1">
      <a href="/">Home</a>
      <a href="/users/add">Add New User</a>
      <a href="/users">All Users List</a>
      <div class="logo">
          <img src="./../tcs.JPG" alt="img">
      </div>
  </div>
  <div class="main"> </div>
  