<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	
<style>
    .bgimg-1 {
        
        height:100%;
        width: 100%;
        background-image: url('mg22.jpg');
        background-size: cover;
      }
    
      .homedt {
     margin-top: 20%;
     /*margin-left: 40%;
     margin-bottom: 50%;
     margin-right: 20%; */
     
     text-align: center;
    font-size-adjust: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 58px;
    color:blanchedalmond;
  

}

.header {
  text-align: center;
  padding: 150px;
  color:orangered
}
    </style>
            <div class="homedt">  
            <div class="bgimg-1">
                
       <div class="header">     
    <h2> Welcome to </h2>
    <h1><a href="https://www.tcs.com/"  style=color:blue;>TCS </a></href>  </h1>
    <h2>Ninja Program !!!</h2>
    
  </div>  
      </div> 
    </div>  


    <!--
    including footer content which is common for all pages
    -->
    <%- include layouts/footer.ejs %>
    